{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center my-4">
  <img src="{% static 'images/Fighter 3.png' %}" class="img-fluid w-75 rounded shadow" alt="Fighter 3">
</div>
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Login</button>
</form>
{% endblock %}
